[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "black ."
lint = "flake8 -v"
coverage = "python -m pytest --cov"
unit-test = "python -m pytest tests/unit -v"

[packages]
scipy = "*"
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.10"
